/* your code here */
body
{
	margin: 0px;
}

footer
{
	background-color: black;
	color: white;
}


.logo_name
{
	font-size: 30px;
}

.fa
{
  color: white;
  padding: 10px;
  /* font-size: 20px; */
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin-right: 10px;
  border-radius: 50%;
}

.fa-facebook
{
	background: #3B5998;
	/* height: 20px; */
	/* width: 5px; */
}

.fa-twitter
{
	background: #55ACEE;
}

.fa-instagram
{
	background: #dd4b39;
}

.fa-linkedin
{
	background: #007bb5;
}

.fa-youtube
{
	background: #bb0000;
}

.top
{
	display: flex;
	justify-content: space-between;
	padding: 25px 25px 40px 25px;
}

.unli
{
	text-decoration: underline;
}

.ft-link
{
	
	margin: 0px;
}

.ft-page
{
	
	display: block;
	text-decoration: none;
	color: white;
	margin-top: 7px;
	color: #8e9095;
}

.link-boxes
{
	display: flex;
	justify-content: space-between;
	padding: 25px 25px 50px 25px;
}

.bottom-details
{
	color: #8e9095;
	display: flex;
	justify-content: space-between;
	background-color: #2c303a;
	padding: 0px 25px;
}